
.dropbtn {
  background-color: transparent;
  padding: 16px;
  display: flex;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  left: -80%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 8px;
  min-width: 170px;
  min-height: 140px;
  z-index: 97;
  left: 74.5%;
  top: 10.2%;
}

/* Links inside the dropdown */
.dropdown-content a{
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {
  display: block;
} */
