@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    margin: 10%;
    background-color: #b9e0f9;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 60px;
    background-color: rgb(128, 206, 255);
    border-bottom: 2px solid white;
    align-items: center;
    background-color: rgb(128, 206, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content {
    display: flex;
    width: 60%;
    margin-left: 95px;
    align-items: center;
}
.navBar {
    width: 300px;
    color: #ffffff;
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 100px;
    justify-content: space-evenly;
}
.bar {
    display: flex;
    margin: 15px;
}
.mainmenubtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin-top: 5px;
    border-radius: none;
   
}
.mainmenubtn a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    display: block;
   
}
.mainmenubtn:hover {
    background-color: transparent;
}
.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 100px;
    z-index: 999;

}
.dropdown-child {
    margin-top: 10px;
    display: none;
    background-color: rgb(128, 206, 255);
    min-width: 50px;
    border: #ffffff solid 2px;
    position: absolute;
    left: -100%;
    top: 60%;
}
.dropdown a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
h1 {
    font-weight: bold;
    margin: 0;
}
/* FIM dropdown*/

.menuposition {
    position: absolute;
    top: 0%;
    left: 83%;
    display: flex;
    flex-direction: row;
}

/* FIM Css Social */

/* CSS SLIDE BANNER */
* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* Começo Contato */

#div_wrapper {
background-color: #b9e0f9;
width: 100%;
height: 500px;
display: flex;
flex-direction: row;
justify-content: center;
}
#div_1 {
    width: 55%;
    margin-top: 10px; 
    height: 510px;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    background: #ffffff;
  }
  #div_2 {
    height: 85%;
    width: 45%;
    position: relative;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    /* vertical-align: top; */
    margin-bottom: 100px;
    top: -440px;
    justify-content: center;
    text-align: center;
    right: 100px;
    z-index: 999;
    background: rgb(128, 206, 255);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .box{
    display:flex;
    flex-direction: row;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  #div_2 span{
    font-size: 25px;
  }
#img1{
    margin-top: 17px;
}
#img2{
    margin-top: 13px;
    margin-left: 8px;
    margin-right: 10px;
}
#img3{
    margin-top: 11px;
    margin-left: 14px;
    margin-right: 14px;
}
#img4{
    margin-top: 23px;
    margin-left: 14px;
    margin-right: 14px;
    width: 30px;
    height: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: right;
}
.falaconosco{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.falaconosco h1{
    margin-bottom: 20px;
    margin-left: 110px;
}
.botaofc {
    border-radius: 100px;
    margin-left: 100px;
    background-color: #70c6ff;
    width: 35%;
    height: 40px;
    align-self: center;
}
.campo {
    padding: 10px;
    width: 400px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 10px;
}

textarea {
    height: 120px;
    padding: 10px;
}
a {
    color: #242424;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

footer {
    background-color: rgb(128, 206, 255);
    color: #000000;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 10px 0;
}
/* Fim do Copyright */